.body{
    background-color: #f4f4f4;
    color: #555;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    background-color: coral;
    color: #fff;
}

#navbar{
    background-color: #333;
    color: #fff;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    /* inline means it would come in one line*/
    display: inline;
}

#navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px; 
}

#showcase{
    background-image: url('../images/1.jpg');
    background-position:center right ;
    /*The min-height property defines the minimum height of an element.If the content is smaller than the minimum height, the minimum height will be applied.If the content is larger than the minimum height, the min-height property has no effect.*/
    min-height: 300px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1{
    color: #fff;
    font-size: 50px;
    line-height: 1.6em;
    padding-top: 30px;
}

#main{
    float: left;
    width: 70%;
    padding: 30px;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    width: 30%;
    background: #333;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

#main-footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 400px;
}

/*The @media rule is used in media queries to apply different styles for different media types/devices.
Media is used to check width and height of the viewport,width and height of the device,orientation (is the tablet/phone in landscape or portrait mode?),resolution*/
@media (max-width: 600px){
    #main{
        width: 100%;
        float: none;
    }

    #sidebar{
        width: 100%;
        float: none;
    }

}




/*.color{

   color: #f6f6f2  #6e96b0  #892bea  #b73d57  #211622
}*/


